include requirements.txt
include nerblackbox/MLproject
include nerblackbox/modules/data/datasets/*
include nerblackbox/modules/data/pretrained_models/*
include nerblackbox/modules/data/experiment_configs/*