matplotlib
mlflow~=1.8.0
pytorch-lightning~=1.5.10
omegaconf
seqeval~=1.2.2
scikit-learn
tensorboardx
transformers~=4.12.5
numpy~=1.19.5
datasets~=1.18.3
torchmetrics<0.7  # see https://github.com/PyTorchLightning/pytorch-lightning/issues/11524

dataclasses==0.7; python_version < "3.7"